/*=============================================
			Theme Color
=============================================*/
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-stars span:after,
.tg-btn:hover,
.tg-sectionheading h3,
.tg-eventcounter span,
.tg-featuretag,
.tg-eventvenuenav li.active a,
.tg-eventvenuenav li:hover a,
.tg-navfilterbale li a:hover,
.tg-navfilterbale li a.tg-active,
.tg-package .tg-price:hover h3,
.tg-package .tg-price:hover sup,
.tg-package .tg-price:hover sub,
.tg-package .tg-btn,
.tg-panel > h4:hover,
.tg-panel > h4.active,
.tg-panel > h4:hover:after,
.tg-panel > h4.active:after,
.tg-tags li:hover a,
/* .tg-bannersocialicons li:hover a i, */
.tg-formsortshoitems fieldset .tg-select select,
.tg-formsortshoitems fieldset .tg-select select option,
.tg-404errorcontent h3,
.tg-detailhead h3,
.tg-widget ul li:hover a em,
.tg-widget ul li:hover a em i,
.tg-widget ul li:hover a span,
.tg-trendingposts li:hover .tg-postcontent h4 a,
.tg-stylevtwo .tg-sectionhead h2,
.tg-btnroundprev:hover,
.tg-btnroundnext:hover,
.tg-btnvideoplay:hover,
.tg-btnvideoplay:hover i,
.tg-calltoaction h2,
.tg-footercolumn.tg-widgetrecentposts ul li h4:hover a,
.tg-footercolumn.tg-widgetrecentposts ul li time:hover a,
.tg-newsletterbox button,
.tg-btnvthree,
.tg-packagesvtwo .tg-package .tg-price h3,
.tg-alertcontent strong{color: #ffb339;}
/*=============================================
			Theme Background Color
=============================================*/
.tg-btn:after,
.tg-theme-tag,
.tg-btnbookseat,
.tg-btnbookseat:hover,
.tg-eventschedulenav li.active a,
.tg-eventschedulenav li:hover a,
.tg-btnfarword:hover,
.tg-btndownloadschedule,
.tg-badge,
.tg-inputicon button,
.tg-pagination ul li:hover a,
.tg-pagination ul li.tg-prevpage:hover a,
.tg-pagination ul li.tg-nextpage:hover a,
.tg-tagsshare .tg-tag:hover,
.tg-date,
.tg-themepost:hover figure .tg-timetag,
.tg-btnvtwo:hover,
.tg-rockstarslider .tg-themepost figure,
.tg-rockstarslider .owl-dots .owl-dot:hover span,
.tg-rockstarslider .owl-dots .owl-dot.active span,
.tg-stylevtwo .tg-testimonial,
.tg-clientfeedback .tg-testimonialslider:before,
.tg-clientfeedback .tg-testimonialslider:after,
.tg-concertschedulelist > .tg-concertschedule:hover,
.tg-sponserbrands li:hover,
.tg-topbar,
.tg-headervthree .tg-navigation > ul > li > a:after,
.tg-tag:hover,
.tg-packagesvtwo .tg-package.tg-formshow .tg-packagehead h2,
.tg-btnformpkghide,
.tg-bannerholdervfour .tg-slidercontent h1 span,
.tg-nav .navbar-toggle .icon-bar,
.tg-headervthree .tg-nav .navbar-toggle,
.tg-headervfour .tg-nav .navbar-toggle,
.tg-headervtwo .tg-nav .navbar-toggle,
.tg-alert i{background:#ffb339;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.tg-btnvthree:hover{background:#ffb339 !important;}
/*=============================================
			Theme Gradient Color
=============================================*/
.tg-cscounter,
.tg-galleryhover,
.tg-bgparallax:before,
.tg-shceduledetailimg:before{
	background:
		-moz-linear-gradient(top,
		rgba(254,202,22,0.85) 0%,
		rgba(254,202,22,0.84) 19%,
		rgba(254,202,22,0.8) 100%);
	background:
		-webkit-linear-gradient(top,
		rgba(254,202,22,0.85) 0%,
		rgba(254,202,22,0.84) 19%,
		rgba(254,202,22,0.8) 100%);
	background:
		linear-gradient(to bottom,
		rgba(254,202,22,0.85) 0%,
		rgba(254,202,22,0.84) 19%,
		rgba(254,202,22,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffb339', endColorstr='#ccffb339',GradientType=0 );
}
.tg-innerbanner:before,
.tg-bannerimg figcaption,
.tg-bgparallax.tg-bgtwitter:before{
	background:rgba(0,0,0,0);
}
/*=============================================
			Theme Border Color
=============================================*/
.tg-theme-tag:after,
.tg-theme-tag:before,
input:focus,
.select select:focus,
.form-control:focus,
.tg-eventschedulenav li.active a,
.tg-eventschedulenav li:hover a,
.tg-eventschedulecontent,
.tg-btnfarword:hover,
.tg-badge:before,
.tg-hallname,
.tg-tagsshare .tg-tag:hover,
.sub-menu.tg-darkmenu > li > a:hover,
.sub-menu.tg-darkmenu > li:hover > a,
.tg-btnvtwo,
.tg-btndownloadschedule:before,
.tg-homevtwo .tg-header,
.tg-bannerholdervthree .tg-slidercontent,
.tg-btnvideoplay:hover,
.tg-serviceimg:hover .tg-servicecontent,
.tg-servicetitle h2 a,
.tg-tag:hover,
.tg-btnvthree{border-color: #ffb339;}
.tg-headervtwo .tg-btnbookseat{color:#444349;}
