{% load i18n admin_urls suit_tags %}
<div class="submit-row clearfix">
  
  {% if show_delete_link %}
    {% if '1.9'|django_version_lt %}
      <a href="delete/" class="text-error deletelink">{% trans "Delete" %}</a>
    {% else %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}" class="text-error deletelink">{% trans "Delete" %}</a>
    {% endif %}
  {% endif %}
</div>